<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abhaonboarding">

    <!-- Permissions required for Firebase Phone Authentication -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MainActivity with android:exported explicitly set -->
        <activity
            android:name=".MainActivity"
            android:exported="true"> <!-- Set to true if this activity can be launched from other apps -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities (e.g., UserDetailsActivity) -->
        <activity
            android:name=".UserDetailsActivity"
            android:exported="false" /> <!-- Set to false if this activity is only for internal use -->

    </application>

</manifest>
